/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.big {
	font-size:150%;
}

.bold{
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.whitespaces{
	white-space: pre;
}
.body { 
    background-color: #E6E6E6; 
} 
.textarea {
    resize: none;
    text-style: Times;
}
.red { color:red; }
.green { color:green; }
}

}
